body {
    background-color: lightgrey;
}


.reference {
    display: flex;
    justify-content: space-between;
}

.top-link {
    display: flex;

}

.top-link li {
    margin-right: 50px;
    margin-top: 20px;
    list-style-type: none;
    font-weight: 650;
}

.girl-with-laptop {
    display: flex;
    justify-content: right;
}

.name {
    display: flex;
    justify-content: center;
}


.text {
    position: absolute;
    left: 5%;
    top: 2%;
    transform: translate(-5%, -2%);
    color: white;
    width: 20%;
    font-size: 30px;

}

#container {
    display: flex;
    justify-content: center;
    position: relative;
}

#blue-laptop {
    width: 100%;
}

.middle-section {
    display: flex;
    justify-content: center;
}

.education-1, .jobs-1 {
    padding-top: 20px;
    flex-direction: column;
}


.education-2, .jobs-2 {
    list-style-type: none;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.bottom-links {
    list-style-type: none;
}

@media screen and (max-width: 414px) {
    * {
        flex-direction: column;
    }

    .text {
        width: 40%;
        left: 5%;
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    .text {
        width: 40%;
        left: 5%;
        font-size: 30px;
    }
    .middle-section, footer,.reference {
        font-size: 25px;
    }

}